<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Include Bootstrap -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <!-- Include full jQuery - delete if stuff breaks -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <title>Timer entries</title>

  <!-- Include charts.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>-->

  <style>

  .table-style{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .table-hover{
    color: white;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(4, 75, 133);
}

  </style>
  </head>

  {% extends "base.html" %}

  {% block content %}
  <body style="background-color:#00203FFF; color:white">
    <div>
      <h1 style="text-align:center; margin-bottom: 50px; margin-top: 50px;">Summary of your current projects</h1>
    </div>

      <!--
      <div style="position:static; top:60px; left:10px; width:500px; height:500px;">
      <canvas id="myChart1" width="50" height="50"></canvas>
      <canvas id="myChart2" width="50" height="50"></canvas>
    </div>-->
    <div class="row" style="margin-bottom: 50px">
      <div class="col-md-6" style="text-align:right">
        <p>Display data by: </p>
      </div>
      <div class="col-md-4">
        <!--<input type="text" list="timeSpans" class="form-control" id="timeSpansList"/>-->
        <select name="cars" id="timeSpansList" class="form-select">
          <option value=allTime>All time</option>
          <option value=thisMonth>This month</option>
          <option value="thisWeek">This week</option>
        </select>
        <!--<datalist id="timeSpans">
          <option value=allTime>All time</option>
          <option value=thisMonth>This month</option>
        </datalist>-->
      </div>
      <div class="col-md-2"></div>
    </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <canvas id="myChart1" width="50" height="50"></canvas>
          </div>
          <div class="col">
            <canvas id="myChart2" width="50" height="50"></canvas>
          </div>
        </div>
      </div>

    <div id="allEntriesTable">
    <div class="table-style">
      <table class="table table-hover">
        <tr>
          <th>Activity</th>
          <th>Duration</th>
          <th>Entry time</th>
          <th>Project</th>
          <th></th>

        </tr>

        {% for item in allEntries %}
          <tr>
            <td>{{item.item}}</td>
            <td>{{item.duration}}</td>
            <td>{{item.entryTime}}</td>
            <td>{{item.associatedProject}}</td>
            <td><button type="button" class="btn btn-danger" id={{item.id}}>Delete</button></td>
          </tr>
        {% endfor %}

        {% for key, value in json.allProjectsDict %}
          <li>{{hello}}</li>
        {% endfor %}

      </table>
    </div>
  </div>

<br>
<br>
<br>

  </body>


  <script>

    function updateDataView(refreshedData) {
      var receivedEntries = JSON.parse(refreshedData['allEntriesList']);
         
          var newTableRows = '<div class="table-style"><table class="table table-hover"><tr><th>Activity</th><th>Duration</th><th>Entry time</th><th>Project</th><th>Delete</th></tr>';

          // update the table displaying all the time entries and their details
          for(var i = 0; i < receivedEntries.length; i++){

            var itemID = receivedEntries[i]['pk']

            var row = '<tr><td>' + receivedEntries[i]['fields']['item'] + '</td>';
            row += '<td>' + receivedEntries[i]['fields']['duration'] + '</td>';
            // the format of entryTime needs to be updated
            row += '<td>' + receivedEntries[i]['fields']['entryTime'] + '</td>';
            row += '<td>' + receivedEntries[i]['fields']['associatedProject'] + '</td>';
            //row += '<td>' + "<p>Button</p>" + '</td>';
            
            // row +=  '<td>' + '<button type=\"button\" class=\"btn btn-danger\">Delete</button>' + '</td>';
            row +=  '<td>' + '<button type=\"button\" class=\"btn btn-danger\" id=\"' + itemID + '\">Delete</button>' + '</td>';

            row += '</tr>'
            newTableRows += row;
          }
          newTableRows += '</table></div>';
          document.getElementById("allEntriesTable").innerHTML = newTableRows;

          // update the pie chart
          var updatedPieLabels = [];
          var updatedPieData = [];

          for(var key in refreshedData['allProjectsDict']){
            updatedPieLabels.push(key);
            updatedPieData.push(refreshedData['allProjectsDict'][key]);
          }
          data1['datasets'][0]['data'] = updatedPieData;
          data1['labels'] = updatedPieLabels;
          myChart1.update();

          // update the bar chart
          var updatedBarLabels = [];
          var updatedBarData = [];

          for(var key in refreshedData['mostCommonEntries']){
            updatedBarLabels.push(key);
            updatedBarData.push(refreshedData['mostCommonEntries'][key]);
          }

          data2['datasets'][0]['data'] = updatedBarData;
          data2['labes'] = updatedBarLabels;
          myChart2.update();
    }

    // data and display for the projects-proportionality pie chart
    const labels1 = [];
    const datapoints1 = [];

    {% for key, value in allProjectsDict.items %}
      var key = "{{key}}";
      var val = "{{value}}";

      if(val > 0){
        labels1.push(key);
        datapoints1.push(val);
      }

    {% endfor %}

    const data1 = {
    labels: labels1,
    datasets: [{
      // label: 'Distribution by project',
      backgroundColor: ["#39ff14", "#eefe08", "#FF0000", "#08F7FE", "#d908fe", "#ff1493", "#C24CF6", "#7FF00", "#93c8c4", "#0b4abd","#fc6e22", "#5e5e5e"],
      data: datapoints1,
    }]
    };

    const config1 = {
    type: 'pie',
    data: data1,
    options: {
      title: {
        display: true,
        text: 'Distribution by project'
      },
      plugins: {  // 'legend' now within object 'plugins {}'
      legend: {
        labels: {
          color: "white",  // not 'fontColor:' anymore
          // fontSize: 18  // not 'fontSize:' anymore
          font: {
            size: 12 // 'size' now within object 'font {}'
          }
        }
      },
      // DELETE IF BREAKS CODE
      tooltip: {
        enabled: true,
        callbacks: {
        footer: (ttItem) => {
          let sum = 0;
          let dataArr = ttItem[0].dataset.data;
          dataArr.map(data => {
            sum += Number(data);
          });

        let percentage = (ttItem[0].parsed * 100 / sum).toFixed(2) + '%';
        return `Percentage of time spent: ${percentage}`;
      },
      label: (ttItem) => {

        let totalSeconds = ttItem.parsed
        let hours = 0;
        let minutes = 0;
        let seconds = 0;

        hours = Math.floor((totalSeconds/3600));
        minutes = Math.floor((totalSeconds - (hours * 3600))/60);
        seconds = totalSeconds - (hours * 3600) - (minutes * 60);
        labelText = hours + "h:" + minutes + "m:" + seconds + "s";
        return labelText;
      }
    }
  },
      // DELETE IF BREAKS CODE
    },// closing tag for plugins
    }
    };

    var ctx1 = document.getElementById("myChart1").getContext("2d");

    var myChart1 = new Chart(
        ctx1,
        config1
    );

    // data and display for the task frequency bar chart
    const labels2 = [];
    const datapoints2 = [];

    {% for key, value in mostCommonEntries.items %}
      var key = "{{key}}";
      var val = "{{value}}";
      labels2.push(key);
      datapoints2.push(val);
    {% endfor %}

    console.log(labels2, datapoints2);
    const data2 = {
    labels: labels2,
    datasets: [{
      label: 'Most frequently used words in descriptions',
      backgroundColor: ["#39ff14", "#eefe08", "#FF0000", "#08F7FE", "#d908fe", "#ff1493", "#C24CF6", "#7FF00", "#93c8c4", "#0b4abd","#fc6e22", "#5e5e5e"],
      data: datapoints2,
    }]
    };

    const config2 = {
    type: 'bar',
    data: data2,
    options: {
      title: {
        display: true,
        text: 'Most frequently tasks'
      },
      borderWidth: 10,
      plugins: {  // 'legend' now within object 'plugins {}'
      legend: {
        labels: {
          color: "white",  // not 'fontColor:' anymore
          // fontSize: 18  // not 'fontSize:' anymore
          font: {
            size: 12 // 'size' now within object 'font {}'
          }
        }
      },
    },// closing tag for plugins
    scales: {
      x: {
        ticks: {
          color: 'white',
          font: {
            size: 12,
          }
        }
      },
      y: {
        ticks: {
          color: 'white',
          font: {
            size: 12,
          }
        }
      }
    }
    },
    };

    var ctx2 = document.getElementById("myChart2").getContext("2d");

    var myChart2 = new Chart(
        ctx2,
        config2
    );

    // script for fetching data from the views through ajax for updating the timespan for which data is displayed
    document.getElementById("timeSpansList").onchange = function(){
      // send ajax request to views from here and update charts
      //var timeSpan = "hullo";
      var timeSpan = document.getElementById("timeSpansList").value
      //window.open('updateDiagrams');

      // make get call to ajax to filter data for the specified timespan
      $.ajax({
        type: "POST",
        url: "updateDiagrams",
        data: {'timespan': timeSpan},
        success: function(response){
          updateDataView(response)
        },
      })

    };

    // this had to be updated so that the delete buttons work with the .load function- https://stackoverflow.com/questions/9009364/jquery-load-makes-content-not-clickable-after-load?rq=1
    //$(".btn-danger").click(function(){
    $(document).on("click",".btn-danger", function(){
      alert("The delete btn of item with id " + this.id + " was clicked.");
      var timeSpan = document.getElementById("timeSpansList").value
      // send a request to the backend to remove the object with the corresponding id from the database
      $.ajax({
        type: "POST",
        url: "deleteEntry",
        data: {'entryID': this.id, 'timespan': timeSpan},
        success: function(response){
          console.log("success")
          updateDataView(response)
          //$('#allEntriesTable').load(' #allEntriesTable > *');
        }
      });
    });

  </script>

  {% endblock %}
</html>
